
@using (Html.BeginForm("ForgotPassword","Client"))
{
    <table>
       <tr>
           <td>Email</td>
            <td>@Html.TextBox("Email","",new { @class = "form-control", placeholder = "Enter Email",required="required" })</td>
            <td>@Html.ValidationMessage("Email")</td>
        <tr>
            <td>Mobile No</td>
            <td>@Html.TextBox("MobileNo","", new { @class = "form-control", placeholder = "Enter MobileNo",required="required" })</td>
            <td>@Html.ValidationMessage("MobileNo")</td>
        </tr>
         
        <tr>
            <td><input type="Submit"></td>
        </tr>
    </table>
    @if(ViewBag.msg!=null)
    {
        @ViewBag.msg
    }
  
}